<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TempleScheduler</title>
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="~/place-of-worship-solid.svg" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/2473e98242.js" crossorigin="anonymous"></script>

    <!-- CSS Files -->
    <link href="~/css/aos.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/css/boxicons.min.css" rel="stylesheet" />
    <link href="~/css/glightbox.min.css" rel="stylesheet" />
    <link href="~/css/swiper-bundle.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>

    @RenderBody()

    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="container">
                        <div class="copyright">
                            &copy; Copyright <strong><span>IS 413: Group 4-1</span></strong>. All Rights Reserved
                        </div>
                        <div class="credits">
                            Designed by Group 4-1
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer><!-- End Footer -->


    <!--Javascript-->
    <script src="~/js/purecounter.js"></script>
    <script src="~/js/aos.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/glightbox.min.js"></script>
    <script src="~/js/isotope.pkgd.min.js"></script>
    <script src="~/js/swiper-bundle.min.js"></script>
    <script src="~/js/noframework.waypoints.js"></script>
    <script src="~/js/main.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
